
body {
    background-color: #FCAEAE;
    word-wrap: break-word;
}

.outside_border {
    position: static;
    top: 10px;
    right: 10px;
    left: 10px;
    bottom: 10px;
    background: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 20px;
}

#image {
    float: right;
    position: relative;
    background: rgba(33, 146, 158, 0.505);
    padding: 20px;
    border-radius: 10px;
}

#nav_ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ff4949b5;
    outline: auto #1e1e1e;
  }
  
li {
  float: left;
}

#login_navbar {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ff6969;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {background-color: #f1f1f1;}

.dropdown:hover .dropdown-content {
  display: block;
}

