{% extends "base.html" %}

{% block title %}Login Page{% endblock %}

{% block content %}

    <form method="post" action="/" style="text-align: center; font-size: 48px;">

        <label for="username">Username</label>
        <br>
        <br>
        <input type="text" name="username" id="username" style="font-size: 48px;"/> 
        <br>
        <br>
        <label for="favnum">Favorite Number</label>
        <br>
        <br>
        <input type="number" name="favnum" id="favnum" style="font-size: 48px;">
        <br>
        <br>
        <input type="submit" name="submit" id="submit" value="Login" style="font-size: 72px"/> 

    </form>

{% endblock %}